<li class="nav-dropdown-container learn">
  <a class="nav-link<%- page.path.match(/\/(guide(?!\/team.html$)|style-guide|examples|cookbook)(\/|$)/) ? ' current' : '' %>">Learn</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li>
      <ul>
        <li><a href="<%- url_for("/v1/tutorials/") %>" class="nav-link<%- page.path.match(/\/tutorials(\/|$)/) ? ' current' : '' %>">Tutorials</a></li>
        <li><a href="<%- url_for("/v1/examples/") %>" class="nav-link<%- page.path.match(/\/examples(\/|$)/) ? ' current' : '' %>">Examples</a></li>
        <li><a href="<%- url_for("/v1/cookbook/") %>" class="nav-link<%- page.path.match(/\/cookbook(\/|$)/) ? ' current' : '' %>">Cookbook</a></li>
        <li><a href="<%- url_for("/v1/best-practices/") %>" class="nav-link<%- page.path.match(/\/style-guide(\/|$)/) ? ' current' : '' %>">Best practices</a></li>
      </ul>
    </li>
  </ul>
</li>
