<%- partial('partials/learn_dropdown') %>
<li>
  <a href="<%- url_for("/v1/api/index.html") %>" class="nav-link team<%- page.path.match
  (/api(\/|$)/) ? ' current' : '' %>">API</a>
</li>
<%- partial('partials/tooling_dropdown') %>
<%- partial('partials/integrations_dropdown') %>
<li>
  <a href="<%- url_for("/v1/testing/index.html") %>" class="nav-link team<%- page.path.match
  (/testing\.html/) ? ' current' : '' %>">Testing</a>
</li>
<li>
  <a href="<%- url_for("/v1/contributed/index.html") %>" class="nav-link team<%- page.path.match
  (/contributed\.html/) ? ' current' : '' %>">Contributed</a>
</li>
