<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/kingly_logo.png") %>" alt="library logo">
    </div><div class="right">
      <h2 class="header-logo">Kingly</h2>
      <h1>
        The Behavior Modeling Library<br>for Reliable UIs
      </h1>
      <p>
        <a class="button black" href="<%- url_for("/v1/tutorials/") %>">WHY KINGLY?</a>
        <a class="button white" href="<%- url_for("/v1/tutorials/installation.html") %>">GET STARTED</a>
        <a class="button gray has-icon" href="https://github.com/brucou/kingly"
           target="_blank">
          <%- partial('icons/github-dark') %>
          GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Show, don't tell</h2>
      <p>Visually model the behaviour of your application with a professional graph editor. Use the UI framework that you like.</p>
    </div>

    <div class="point">
      <h2>Zero-cost automation</h2>
      <p>
        Automated layouts<br>
        Code generation<br>
        Version with git<br>
        Small compiled bundles<br>
      </p>
    </div>

    <div class="point">
      <h2>Always in sync</h2>
      <p>A model is a precise, always-updated
        documentation of your interface behaviour that your team can trust
      </p>
    </div>
  </div>
</div>

<script>
(function () {
  var topScrolled = false
  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
  })
})()
</script>
